ul {
  font-size: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 0 10px;
}
li:hover {
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 2px;
  padding-bottom: 2px;
}

a:visited {
  color: inherit;
}
